GEMINI_API_KEY=

# Docker Database Config
POSTGRES_USER=my_dev_user
POSTGRES_PASSWORD=my_dev_password
POSTGRES_DB=citywatch

# Python App Database URL
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}
